<ol class="breadcrumb">
  <li>{{#link-to 'index'}}Books{{/link-to}}</li>
  <li class="active">{{name}}</li>
</ol>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-unstyled">
      {{render 'books' books}}
    </ul>
  </div>
</div>
